#title {
  background-color: #000000;
  position: relative;
}

div#title::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 0;
}
#title .wrap {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#title .wrap div.movie{
  
  position: absolute;
  left: -80px;
  top: -86px;
  height: 700px;
  z-index: 0;
}
#title .wrap div.movie div.video_wrap{
  
}
#title .wrap div.movie div.video_wrap video{
  
  height: 670px;
}
#title .wrap div.movie div.video_wrap video source{
  
}
#title .wrap div.movie div.video_wrap video #j_movie{
  
}
#title .wrap div.commentwrap{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
#title .wrap div.commentwrap ul.flex {
  z-index: 1;
  color: white;
  line-height: 1.6;
  margin-left: 15px;
  position: relative;
}
#title .wrap div.commentwrap ul.flex li { 
  gap: 10px;
  align-items: center;
  display: flex;
  margin: 10px 0;
}
#title .wrap div.commentwrap ul.flex li .h3 {
  
  font-weight: 500;
}
#title .wrap div.commentwrap ul.flex li p {
  
}
#title .wrap div.commentwrap div.playsound{
  
  display: flex;
  gap: 7px;
}
#title .wrap div.commentwrap div.playsound a {
  padding: 3px 22px;
  border-radius: 30px;
  background-color: #CDCECE;
  z-index:1;
  box-sizing: border-box;
  line-height: 23px;
  margin-left: 15px;
  font-size: 14px;
}
#title .wrap div.commentwrap div.playsound form {
  display: flex;
}
#title .wrap div.commentwrap div.playsound form.stopb button.stop {  
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 100%;
  background-image: url(../img/pause.svg);
  background-size: contain;
  font-size: 0;
  border: 1px solid;
  border-color:#979797;
  z-index: 1;
  cursor: pointer;
}
.play{
  background-image: url(../img/play.svg) !important;
}
#title .wrap div.commentwrap div.playsound form.soundb button.sound {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 100%;
  background-image: url(../img/volumeon.svg);
  background-size: contain;
  font-size: 0;
  border: 1px solid;
  border-color:#979797;
  z-index: 1;
  cursor: pointer;
}
.soundon{
  background-image: url(../img/volumeoff.svg) !important;
}